animations {
    window-open {
        duration-ms 150
        curve "ease-out-cubic"
        custom-shader "/home/vlad/.config/niri/shaders/wopen.frag"
    }

    window-close {
        duration-ms 220
        curve "ease-out-cubic"
        custom-shader "/home/vlad/.config/niri/shaders/wclose.frag"
    }

    window-movement {
        spring damping-ratio=0.82 stiffness=500 epsilon=0.0001
    }

    horizontal-view-movement {
        spring damping-ratio=0.88 stiffness=750 epsilon=0.0001
    }

    workspace-switch {
        spring damping-ratio=0.88 stiffness=750 epsilon=0.0001
    }

    window-resize {
        spring damping-ratio=1.0 stiffness=700 epsilon=0.0001
    }

    overview-open-close {
        spring damping-ratio=1.0 stiffness=550 epsilon=0.0001
    }
}
